
@model GarageMVC_Database.Models.Vehicle

@{
    ViewBag.Title = "CheckOut";
}

<h3>Do you want to check out this vehicle?</h3>
<div>
    @*<h4>Vehicle</h4>
        <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpot.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpot.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPrice)
            Kr
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

    </dl>

    @using (Html.BeginForm("CheckOut", "Garage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input name="vehicleType_Long" type="submit" value="Payment" class="btn btn-warning" />
            @*@Html.ActionLink("Cancel", "Index", new { @class = "btn btn-default"})*@
            <input name="vehicleType_Long" type="button" class="btn btn-warning" value="Cancel" onclick="location.href='@Url.Action("List", "Garage")'" />

        </div>
        <div class="col-md-10">
            @Html.HiddenFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <br />
    }
</div>
