
@model GarageMVC_Database.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details: @Html.DisplayFor(model => model.RegNumber)</h2>

<div>
    @*<h4>Vehicle</h4>
        <hr />*@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owners)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owners)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingSpot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingSpot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParkingPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingPrice)
            Kr
        </dd>

        <dt>
            @Html.DisplayNameFor(models => models.ParkingDate)
        </dt>

        <dd>
            @Html.DisplayFor(models => models.ParkingDate)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |*@
    @*@Html.ActionLink("Back to List", "Index")*@
    <input name="vehicleType_Long" type="button" class="btn btn-warning" value="Return" onclick="location.href='@Url.Action("CheckIn", "Garage")'" />
</p>
